<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAN12scpc8yPfZMvqjiBvHXrYmECCRV9oA</string>
	<key>GCM_SENDER_ID</key>
	<string>617330242189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.codecansecond</string>
	<key>PROJECT_ID</key>
	<string>code-can-1438d</string>
	<key>STORAGE_BUCKET</key>
	<string>code-can-1438d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617330242189:ios:50d80aaa7e25b0d347e8c4</string>
</dict>
</plist>